
body {
    
    background-size: cover; 
    background-position: center; 
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#8b0000;
    padding: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}

.navbar a:hover {
    background-color: #00008B;
}

.logo {
    color: white;
    font-size: 24px; 
}

.loginn {
    background-color: #f5f5dc; 
    border: 2px solid #8b0000; 
    width: 1357px;
    height: 1100px;
    padding: 20px;
    margin: 10px auto 100px 0; 
    text-align: center;
    border-radius: 8px; 
}




.pecx {
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    height: 400px;
}

.input {
    margin-top: 20px; 
}

input {
    margin-bottom: 10px; 
    width: calc(100% - 20px);
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
}



button:hover {
    background-color: #00008B; 
}

.image-placeholder {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    
}

.custom-button {
        
    background-color: #3f00ec; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #00008B; /* Darker blue on hover */
    
}
#button{
    padding-top: 100px;

}
.info{
    border: 3px solid black;
    width: 400px;
margin-left: 500px;
margin-top: 200px;
}
.infoo{
    border: 3px solid black;
    width: 700px;
margin-left: 400px;
margin-top: 200px;
}

   
